.hero-container {
  display: flex;
  width: 99vw;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.right > div {
  margin-left: 45px;
}

.logo-container {
  position: absolute;
  top: 33px;
  left: 100px;
}

.logo-container .logo-img {
  height: 107px;
  height: 83px;
}

.home-page-text {
  height: 207px;
  width: 345px;
  margin-top: 28%;
  margin-left: 100px;
}

.home-page-text > h1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 69px;
  color: #0e2368;
}

.home-page-text > h1 > span {
  color: #e23744;
}

.home-page-text > p {
  margin-top: 26px;
  height: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16.44px;
  line-height: 27.41px;
  color: #444957;
}

#explore-now-btn {
  width: 190px;
  height: 63px;
  margin-top: 41px;
  left: -3px;
  border-radius: 34px;
  background-color: #e23744;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1%;
  border: none;
  cursor: pointer;
}

.contact-container {
  position: absolute;
  top: 32px;
  right: 6vw;
}

#get-in-touch-btn {
  width: 122px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid #ffffff;
  gap: 10px;
  background-color: #e23744;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 3%;
  cursor: pointer;
}

.pizza-img {
  position: "absolute";
  z-index: -5;
  margin-left: -12px;
}

.vector-img {
  margin-left: -2rem;
  margin-top: -2px;
}

/* MOBILE SCREENS*/
@media (max-width: 376px) {
  .hero-container {
    width: 200%;
    flex-direction: column-reverse;
  }
  .left {
    width: 100vmax;
    margin-left: 4rem;
    display: flex;
    align-items: center;
  }

  .home-page-text {
    width: 100vw;
    text-align: center;
  }

  #explore-now-btn {
    margin-left: 5rem;
  }

  .right {
    width: 100vmax;
  }

  .contact-container {
    margin-right: -100vw;
  }

  .pizza-img,
  .vector-img {
    object-fit: cover;
    margin-left: 0rem;
  }

  .logo-container {
    display: none;
  }
}
